.app {
	background: #fff;
	margin: 24px 16px 40px 16px;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

:focus {
	box-shadow: inset 0 0 2px 2px #CF7D7D;
	outline: 0;
}
